.row
  .col.s8
    %h2 Inscriptos
  .col.s4
    .right
      %h2
      = link_to upload_registrants_path, class: "btn-floating btn-large" do
        %i.material-icons open_in_browser

.row
  .col.s12
    %table.highlight
      %thead
        %tr
          %th Nombre
          %th Email
          %th Pase
          %th Nivel
          %th Rol
          %th Pago
          %th Acreditado

      %tbody
        - @registrants.each do |registrant|
          %tr.clickable-row{'data-href' => edit_registrant_url(registrant)}
            %td= registrant.name
            %td= registrant.email
            %td= registrant.pass.try(:name)
            %td= level_label(registrant.level)
            %td= role_label(registrant.role)
            %td= registrant.paid ? '✓' : ''
            %td= registrant.signed_in ? '✓' : ''
