.row
  .col.s8
    %h3 Subir archivo de inscripciones


.row
  .col.s8
    = form_tag({ action: :bulk_create }, { multipart: true }) do
      .file-field.input-field
        .btn
          %span Elegir
          = file_field_tag 'csv'
        .file-path-wrapper
          %input.file-path{type: 'text'}
      .input-field.center
        = submit_tag 'Enviar', class: 'btn'

- if @result
  .row
    .col.s8
      = "#{@result.count} procesados: #{@error_count} errores | #{@paid_count} pagos registrados | #{@empty_pass} sin pase"
      = link_to "(Asignar pases)", empty_pass_registrants_path
  .row
    .col.s8
      #upload-result
        %ul.collapsible{"data-collapsible" => "expandable"}
          - @result.each do |row|
            %li
              .collapsible-header
                - if row[:error]
                  %i.material-icons error
                - elsif row[:registered_payment]
                  %i.material-icons toll
                - elsif row[:existing]
                  %i.material-icons done_all
                - else
                  %i.material-icons done
                = row[:name]
              .collapsible-body
                %p
                  - [:name, :email, :pass_id, :level, :role].each do |property|
                    %span.label= property
                    = row[:registrant].send(property)
                    %br/
    .col.s4
      .reference
        %i.material-icons done
        Subido con éxito
      .reference
        %i.material-icons done_all
        Email ya existente
      .reference
        %i.material-icons error
        Error
      .reference
        %i.material-icons toll
        Pago registrado
