#attendance
  .row
  .row{'v-show' => '!showingSearch', transition: 'slide'}
    .col.s6
      %door-counter(inline-template)
        .card-panel.cyan.darken-2
          %label Paga en puerta
          %span.count {{ doorCounter }}
          .arrows
            %a.top{'v-on:click' => 'nonRegisteredArrival()'} +
            %a.bottom{'v-on:click' => 'nonRegisteredError()'} -

    .col
      #registrantSearch.card-panel.orange.accent-3{'v-on:click' => 'showSearch()'}
        %label Pre inscripto
        %span.count {{ registeredCounter }}

  .row{'v-show' => 'showingSearch', transition: 'fade'}
    %registrant-search(inline-template)
      .row{'v-show' => 'selected == null'}
        .col.s1
          %i#back.material-icons.left.small{'v-on:click' => 'backFromSearch()'} replay
        .col.s10
          .input-field
            %input#search{'v-model' => 'search'}
            %label{for: 'search'}
              %i.material-icons search

          %ul#results.collection{'v-show' => 'search != ""', transition: 'slide'}
            %li.collection-item{'v-for' => 'user in registrants | filterBy search in "name"', 'v-on:click' => 'select(user)'}
              {{ user.name }}


      .row{'v-if' => 'selected != null'}
        .col.s12#profile
          .row#pass
            .col
              %i#back.material-icons.left.small{'v-on:click' => 'backFromSelection()'} replay
              %h3{'v-bind:style' => '{ color: selected.colour }'}
                {{ selected.pass_name }}
          .row
            .col.s3.label
              Nombre
            .col.s5.value
              {{ selected.name }}
          .row
            .col.s3.label
              Nivel
            .col.s5.value
              {{ selected.level }}
          .row
            .col.s3.label
              Rol
            .col.s5.value
              {{ selected.role }}
          .row
            .col.s3.label
              Cinta
            .col.s5.value
              .ribbon{'v-bind:style' => '{ backgroundColor: selected.colour }'}

          .row
            .right.actions
              %div{'v-if' => '!passCovers(selected.pass_id)'}
                El pase no cubre este evento
                .btn-floating.btn-large.red
                  .cross
              %div{'v-else':''}
                %div{'v-if' => 'selected.signed_in'}
                  Ya acreditado!
                  .btn-floating.btn-large.red
                    .cross
                %div{'v-if':'!selected.signed_in'}
                  Todo bien: acreditar!
                  .btn-floating.btn-large{'v-on:click' => 'signIn(selected)'}
                    %i.material-icons done


:javascript
  window.registrants = #{@registrants.to_json};
  window.eventId = #{@event.id};
  window.doorCounter = #{@event.unregistered_attendees};
  window.registeredAttendees = #{@registrants.select{|r| r.signed_in}.count};
  window.passesWithCover = #{@passes_with_cover.to_json};
