%h2 Descuento nuevo

.row
  .col.s12
    = form_for @discount do |f|
      .row
        - if @discount.errors.any?
          #error_explanation
            %h2= "#{pluralize(@discount.errors.count, "error")} prohibited this pass from being saved:"
            %ul
              - @discount.errors.full_messages.each do |msg|
                %li= msg

      .row
        .input-field.col.s6
          = f.text_field :name
          = f.label :name

      .row
        .input-field.col.s6
          = f.number_field :percentage
          = f.label :percentage, 'Porcentaje (1-100)'

      .row
        .input-field.col.s6
          = f.text_field :start, class: 'datepicker'
          = f.label :start

      .row
        .input-field.col.s6
          = f.text_field :end, class: 'datepicker'
          = f.label :end

      .actions
        %button.btn{type: 'submit'}
          Enviar
          %i.material-icons.right send

        = link_to 'Cancelar', passes_path, class: 'btn-flat'

